.uno{
    width: 375px;
    height: 1580px;
    border: 1px solid black;
}
.dos{
    width: 340px;
    height: 45px;
    border: 1px solid black;
    margin: 1rem 1rem;
}
.tres{
    width: 340px;
    height: 350px;
    border: 1px solid black;
    margin: 1rem 1rem;
}
.cuatro{
    width: 320px;
    height: 160px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 3rem;
}
.cinco{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.seis{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.siete{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.ocho{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.nueve{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.diez{
    width: 320px;
    height: 160px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.once{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.doce{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.trece{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.catorce{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.quince{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.diesiseis{
    width: 320px;
    height: 160px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.diesisiete{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.diesiocho{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.diesinueve{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veinte{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veintiuno{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veintidos{
    width: 320px;
    height: 160px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.veintitres{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veinticuatro{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veinticinco{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veinticinco{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veintiseis{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.veintisiete{
    width: 320px;
    border: 1px solid black;
    margin-left: 1.5rem;
    margin-top: 1rem;
}